html {
    font-family: 'Roboto', sans-serif;
}

.bg-color {
    background: #152850;
}

.container {
    margin-left: 50%;
}

.iconify {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 137px;
    top: 69px;
}

.titles {
    position: absolute;
    width: 105px;
    height: 28px;
    left: 135px;
    top: 185px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.text {
    position: absolute;
    width: 260px;
    height: 14px;
    left: 57px;
    top: 226px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */

    color: #FFFFFF;
}

.ellipse {
    position: absolute;
    width: 52px;
    height: 52px;
    left: 161px;
    top: 256px;
    border-radius: 50%;
    background: #FDD083;
}

.harry-potter {
    position: absolute;
    width: 40.7px;
    height: 22.61px;
    left: 167px;
    top: 268px;
}

.edition {
    position: absolute;
    width: 16px;
    height: 5px;
    left: 179px;
    top: 291px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4px;
    line-height: 5px;

    /* identical to box height */

    color: #000000;
}

.play-button {
    position: absolute;
    width: 297px;
    height: 43px;
    left: 39px;
    top: 337px;
    background: linear-gradient(90deg, #25A8CB, #55e7fc);
    border-radius: 20px;
    color: white;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-out 0.1s;
    
}

.play-button:hover {
    color: teal;
    box-shadow: inset 297px 0 0 0 #fff;
    
}

.content-text {
    position: absolute;
    width: 27px;
    height: 16px;
    
    left: 135px;
    top: 13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.titles-question {
    position: absolute;
    width: 105px;
    height: 28px;
    left: 135px;
    top: 23px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.text-question {
    position: absolute;
    width: 134px;
    height: 14px;
    left: 121px;
    top: 54px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    /* identical to box height */

    color: #FFFFFF;
}

.line {
    position: absolute;
    width: 375px;
    height: 12px;
    left: 0px;
    top: 86px;

    background: #FDD083;
}

.question-container {
    position: absolute;
    width: 297px;
    height: 112px;
    left: 39px;
    top: 135px;

    background: #FFFFFF;
    border-radius: 15px;
}

.question-text {
    position: relative;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15%;

    color: #000000;
}

.question-button-1 {
    position: absolute;
    width: 297px;
    height: 43px;
    left: 39px;
    top: 277px;

    background: #193469;
    border-radius: 20px;
    color: white;
}

.question-button-2 {
    position: absolute;
    width: 297px;
    height: 43px;
    left: 39px;
    top: 339px;

    background: #193469;
    border-radius: 20px;
    color: white;

}

.question-button-3 {
    position: absolute;
    width: 297px;
    height: 43px;
    left: 39px;
    top: 401px;

    background: #193469;
    border-radius: 20px;
    color: white;
}

.question-button-4 {
    position: absolute;
    width: 297px;
    height: 43px;
    left: 39px;
    top: 463px;

    background: #193469;
    border-radius: 20px;
    color: white;
}


/*buttons and animations*/
button:focus {outline:0;}

/* span {
    position: absolute;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 500px;
        height: 500px;
    }
} */

